.gp-drag{
  width: 100%;
  background: $blue;
  color: $white;
  text-align: center;
  padding: .75rem 0;
  margin: .75rem 0;
}

.column.over {
   border: 2px dashed #000;
 }

.over {
  border: 2px dashed #000;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}